/*
<link href="./css/app.css" rel="stylesheet">
*/

/*Login*/

  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }

  /*Footer*/
  footer{
    color: white;
    background-color: black;
    width: 100%;
    height: 100px;
    display:flex;
}

#contFooter{
    align-self: center;
    margin-left: 3em;
}